// Importation Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;500;900&display=swap');

// Left Menu
nav{
  position: absolute;
  background: rgb(255 255 255 / 95%);
  z-index: 10;
  width: 200px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 10px;
  font-family: 'Open-Sans', sans-serif;

  & span{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
  }
  & ul{
    list-style: none;
    padding-left: 0;

    &.languages li{
      display: block;
      background: rgb(210 210 210 / 74%);
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      transition: .3s cubic-bezier(0.06, 0.6, 0.96, 0.76);
      &:hover{
        background: rgb(183 183 183);
        color: white;
        font-weight: 600;
      }

    }

    &.social-networks{
      display: flex;
      justify-content: space-around;
      margin: 10px;

      & li{
        font-size: 1.15rem;
        transition: color .25s ease;

        &:nth-child(1) i:hover{
          color: rgb(59 89 153);
        }
        &:nth-child(2) i:hover{
          color: rgb(43 196 255);
        }
        &:nth-child(3) i:hover{
          color: rgb(189 8 28);
        }
      }

    }
  }
}

// Right Menu

#menu > ul{
  position: absolute;
  z-index: 10;
  left: 13%;
  border-radius: .75rem;
  background: rgb(255 255 255 / 72%);
  padding: 40px;
  backdrop-filter: blur(10px);
  top: 0;
  max-width: 300px;
  bottom: 0;
  font-size: 0.9rem;
  line-height: 1.5rem;
  transition-timing-function: ease-out;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(0px at left center);
  clip-path: circle(0px at left center);

  &.is-active{
    transition-timing-function: cubic-bezier(0, 0, 0.84, 0.56);
    transition-duration: 1s;
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
  }

  & li{
    list-style: none;
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    align-items: center;

    &:last-child{
      margin: 0 0 10px 0;
    }

    & ul{
      border-left: 5px solid white;
      margin: 15px;
    }

    & h1{
      font-size: 1.563rem;
      color: #ffffff;
      font-weight: normal;
      min-width: 100px;
    }

  }
}

#carrousel{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  & img{
    filter: contrast(0.7);
    height: 100vh;
    width: 100%;
    object-fit: fill;
    transition: filter .3s cubic-bezier(0.78, -0.15, 1, 1);
  }

  & a {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
    font-family: 'Roboto';
    font-size: 1.3rem;
    backdrop-filter: brightness(.8);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
}
.slick-initialized .slick-slide{
  position: relative;
  background-color: black;
}
